<!DOCTYPE html>
<html>
    <body>
<p>assignment works!</p>


<table  border="1" bordercolor="red">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Roles</th>
        <th>Access</th>
        <th>Access Colour</th>
    </tr>
    <tr *ngFor="let emp of employees" [ngSwitch]="emp.roles" >
        
        <td class="yellow" *ngSwitchCase="'Developer'">
            <span>{{emp.id}}</span>
        </td>
        <td class="yellow" *ngSwitchCase="'Developer'">
            <span>{{emp.name}}</span>
        </td>
        <td class="yellow" *ngSwitchCase="'Developer'">
            <span>{{emp.age}}</span>
        </td>
        <td class="yellow" *ngSwitchCase="'Developer'">
            <span>{{emp.roles}}</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin'">
            <span>{{emp.id}}</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin'">
            <span>{{emp.name}}</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin'">
            <span>{{emp.age}}</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin'">
            <span>{{emp.roles}}</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin,HR'">
            <span>{{emp.id}}</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin,HR'">
            <span>{{emp.name}}</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin,HR'">
            <span>{{emp.age}}</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin,HR'">
            <span>{{emp.roles}}</span>
        </td>
        <td class="red" *ngSwitchCase="'HR'">
            <span>{{emp.id}}</span>
        </td>
        <td class="red" *ngSwitchCase="'HR'">
            <span>{{emp.name}}</span>
        </td>
        <td class="red" *ngSwitchCase="'HR'">
            <span>{{emp.age}}</span>
        </td>
        <td class="red" *ngSwitchCase="'HR'">
            <span>{{emp.roles}}</span>
        </td>
        
        <td class="yellow" *ngSwitchCase="'Developer'">
            <span>General Access</span>
        </td>
        <td class="red" *ngSwitchCase="'HR'">
            <span>HR Access</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin'">
            <span>Admin Access</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin,HR'">
            <span>All Access</span>
        </td>
        <td class="yellow" *ngSwitchCase="'Developer'">
            <span>Yellow</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin'">
            <span>Green</span>
        </td>
        <td class="red" *ngSwitchCase="'HR'">
            <span>Red</span>
        </td>
        <td class="green" *ngSwitchCase="'Admin,HR'">
            <span>Green</span>
        </td>
        <td class="green" *ngSwitchCase="'HR,Admin'">
            <span>Green</span>
        </td>
        
    </tr>
</table>
</body>
</html>
