.red{
    color: red;
    font-weight: bold;
}
.yellow{
    color: rgb(255, 208, 0);
    font-weight: bold;
}
.green{
    color: green;
    font-weight: bold;
}
form{
    text-align: center;
}
table{
    margin-left: 38%;
    margin-right: 38%;
}
p{
    text-align: center;
    color:blue;
    font-style: italic;
    font-weight: bolder;
}
